@{
    ViewBag.Title = "About";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<section class="team">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-lg-12">
                    <h6 class="description">OUR TEAM</h6>
                    <div class="row pt-md">
                        <div class="col-sm-3 card">
                            <div class="img-box">
                                <img src="~/Images/Mikkel.jpg" class="img-responsive rounded">
                                <div class="text-center">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                            <h4>Mikkel Sejersen</h4>
                            <h6>Co-founder/ CTO</h6>
                            <p>CEO.</p>
                            <p>Phone: (45+)1234 5678.</p>
                            <p>Email: <a href="mailto:Mise@BoosterDating.com">Mise@BoosterDating.com</a></p>
                        </div>
                        <div class="col-sm-3 card">
                            <div class="img-box">
                                <img src="~/Images/Jonas.jpg" class="img-responsive rounded">
                                <div class="text-center">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                            <h4>Jonas K. Hansen</h4>
                            <h6>Co-founder/ Support</h6>
                            <p>COO.</p>
                            <p>Phone: (45+)1234 5678.</p>
                            <p>Email: <a href="mailto:Jokh@BoosterDating.com">Jokh@BoosterDating.com</a></p>
                        </div>
                        <div class="col-sm-3 card">
                            <div class="img-box">
                                <img src="~/Images/Viktor.jpg" class="img-responsive rounded">
                                <div class="text-center">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                            <h4>Viktor Obeling</h4>
                            <h6>Co-founder/ HR</h6>
                            <p>HR-Partner.</p>
                            <p>Phone: (45+)1234 5678.</p>
                            <p>Email: <a href="mailto:Viob@BoosterDating.com">Viob@BoosterDating.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="pb-4">
<div class="about-section paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="about-title clearfix">
                    <h1>About <span>BoosterDating</span></h1>
                    <h3>We started small </h3>
                    <p class="about-paddingB">We started just as you did. In search of the perfect dating site. The only thing we wanted to achieve, was a dating application in which you could connect with people, without having to pay half your salery. </p>
                    <p>Besides this, we wanted an easy-to-use intuitive site in which a user was able to browse, match and chat with people in a fast and effecient way.</p>
                    <p>You can see more about BoosterDating on our Facebook page, listen to great dating advice on our Twitter account, get great ideas on our Google+ or directly contact either of us through our mail.</p>
                    <div class="about-icons">
                        <ul>
                        <li><a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a> </li>
                        <li><a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a> </li>
                        <li> <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a> </li>
                        <li> <a href="mailto:BoosterDating@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-6">
                <div class="about-img">
                    <img src="https://devitems.com/preview/appmom/img/mobile/2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
