@using DatingApplication.Models
@{
    ViewBag.Title = "BrowseMatches";
}

<h2>Browse through our profile selection!</h2>
<div class="container-fluid">
    <div class="d-flex" style="display:block">
        <div class="row mx-auto">
            @using (var context = new DatingContext())
            {
                foreach (var profile in context.Profiles)
                {
                    <div class="card" style="width: 18rem; margin-right: 2em; margin-bottom: 2em">
                        <img class="card-img-top" style="max-height: 250px" src="@profile.Picture" alt="Card image cap">
                        <div class="card-body d-flex justify-content-center">
                            <p>@profile.ID</p>
                        </div>
                        <div class="card-body d-flex justify-content-center">
                            <a href="#" class="btn btn-primary">Visit Profile!</a>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
