
@{
    ViewBag.Title = "Browse";
}

<div class="container-fluid">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Browse profiles here.</h1>
        </main>
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Images/Jonas.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Jonas</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Visit Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Images/Mikkel.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mikkel</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Visit Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Images/Viktor.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Viktor</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Visit Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Images/Jonas.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Jonas</h5>
                        <a href="#" class="btn btn-primary">Visit Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Images/Mikkel.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mikkel</h5>
                        <a href="#" class="btn btn-primary">Visit Profile</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="~/Images/Viktor.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Viktor</h5>
                        <a href="#" class="btn btn-primary">Visit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
