@using DatingApplication.Models
@{
    ViewBag.Title = "BrowseMatches";
}

<br />
<div class="container-fluid">
    <div class="d-flex" style="display:block">
        <div class="row mx-auto">
            @using (var context = new DatingContext())
            {
                foreach (var profile in context.Profiles)
                {
                    <div class="card" style="width: 18rem; margin-right: 2em; margin-bottom: 2em">
                        <img class="card-img-top" style="max-height: 250px" src="@profile.Picture" alt="Card image cap">
                        <div class="card-body d-flex justify-content-center">
                            <button type="button" class="btn btn-info mt-4" >@Html.ActionLink("Visit Profile", "LinkedProfile", "Home", new { Id = profile.ID }, null)</button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
