@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    <div class="banner slider">
        <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="http://insignia-themes.website/roofing/wp-content/uploads/2017/12/roofing-slider-img.jpg" alt="Los Angeles">
                    <div class="carousel-caption">
                        <div class="col-md-7">
                            <h1 class="pb-2"><strong>BoosterDating - "Your life. Our Pleasure." </strong> </h1>
                            <h4>The right to look and feel your best.</h4>
                            <button type="button" class="btn btn-success mt-4">Create Account Now!</button>
                            <button type="button" class="btn btn-secondary mt-4">Get More Details</button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://demo.proteusthemes.com/growthpress/wp-content/uploads/sites/65/2017/09/background22-1920x748.png" alt="Chicago">
                    <div class="carousel-caption">
                        <div class="col-md-7">
                            <h1 class="pb-2"><strong>BoosterDating - "Your life. Our Pleasure." </strong> </h1>
                            <h4>Love is free! At least on BoosterDating.</h4>
                            <button type="button" class="btn btn-success mt-4">Create Account Now!</button>
                            <button type="button" class="btn btn-secondary mt-4">Get More Details</button>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://demo.proteusthemes.com/growthpress/wp-content/uploads/sites/65/2017/08/1min.png" alt="New York">
                    <div class="carousel-caption">
                        <div class="col-md-7">
                            <h1 class="pb-2"><strong>BoosterDating - "Your life. Our Pleasure." </strong> </h1>
                            <h4>Dating should be great. Here at BoosterDating, dating is amazing!</h4>
                            <button type="button" class="btn btn-success mt-4">Create Account Now!</button>
                            <button type="button" class="btn btn-secondary mt-4">Get More Details</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <div class="services">
        <div class="container">
            <div class="row">
                <div class="col-md-9 pt-5">
                    <h2>ABOUT BOOSTERDATING</h2>
                    <hr class="pb-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt porta velit, sed suscipit massa consequat sed. Integer est ante, dictum quis metus non, rhoncus accumsan Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt porta velit, sed suscipit massa consequat sed. Integer est ante, dictum quis metus non, rhoncus accumsan.</p>
                    <div class="row pt-3">
                        <div class="col-md-6">
                            <i class="fa fa-clock-o fa-2x pb-2"></i>
                            <h5>24/7 AVAILABILITY</h5>
                            <p>Our support staff is always available, to ensure your game always stays high!</p>

                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-book fa-2x pb-2"></i>
                            <h5>FREE ACCOUNT CREATION</h5>
                            <p>Our site is free. Browse. Connect. Chat. Date. <b>No payment needed.</b> </p>

                        </div>
                    </div>
                    <div class="row pt-3">
                        <div class="col-md-6">
                            <i class="fa fa-sliders fa-2x pb-2"></i>
                            <h5>VERIFICATION</h5>
                            <p>Verify your account with Facebook, Image verification and LinkedIn to ensure the perfect matchup!</p>

                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-eye fa-2x pb-2"></i>
                            <h5>QUICK & EFFICIENT</h5>
                            <p>Our application gives you a complete map over singles in your area. Click on a potential match to see a detailed profile, where you'll decide whether or not, this is the one.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cta bg-danger pb-4 pt-5 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2>
                        Be the best you with the help of BoosterDating. 
                    </h2>
                </div>
                <div class="col-md-3 mt-3">
                    <button type="button" class="btn btn-lg btn-dark">Create account now!</button>
                </div>
            </div>
        </div>
    </div>
    <div class="provide mt-5 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="http://insignia-themes.website/roofing/wp-content/uploads/2017/12/roofing-3.jpg?id=30">
                </div>
                <div class="col-md-6 pt-4">
                    <h1>We work to provide impeccable services to ensure you the best dating experience!</h1>
                    <p>Match, chat, browse and much more with an account on BoosterDating.</p>
                    <div class="row">
                        <div class="col-md-2">
                            <i class="fa fa-home fa-3x"></i>
                        </div>
                        <div class="col-md-10 pt-2">
                            <h4>Fast and Efficient matchmaking</h4>
                            <p>With a next-level profile, you can verify a user through Facebook, Instagram and LinkedIn. It is even possible to connect app's such as Spotify, to customize your profile even further. Ensuring you're a catch, for you match!</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-barcode fa-3x"></i>
                        </div>
                        <div class="col-md-10 pt-2 mb-3">
                            <h4>Best Price Guarantee</h4>
                            <p>Here at BoosterDating our goal is to make sure YOU are having a blast, finding the love of your life. In short terms, we will give you the ability to match and chat with whomever for free. No catch. Just match!</p>
                        </div>
                        <button type="button" class="btn btn-lg btn-danger ">Create Account now!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="trust mt-5 pb-5 pt-5">
        <div class="container pt-5">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2>Get your dating on with people you can trust.</h2>
                    <p class="pt-2 pb-2">With BoosterDatings next-level security check, you are able to find real, honest and kind people. And without the insecurities of whether or not they are who they say they are.</p>
                    <btn type="button" class="btn btn-danger">@Html.ActionLink("See why YOU should use BoosterDating", "About","Home")</btn>
                </div>
            </div>
        </div>
    </div>
    <div class="footer bg-dark pt-5 pb-3">
        <div class="container pt-4">
            <div class="row text-center">
                <div class="col-md-12">
                    <h6>Say hello HR@BoosterDating.com</h6>
                    <ul class="list-unstyled">
                        <li class="list-inline-item"><a> @Html.ActionLink("Home", "Index", "Home")</a></li>
                        <li class="list-inline-item"><a> @Html.ActionLink("About us", "About", "Home")</a></li>
                        <li class="list-inline-item"><a href="#"> Privacy</a></li>
                        <li class="list-inline-item"><a href="#"> Terms & Conditions</a></li>
                        <li class="list-inline-item"><a href="#"> Contact us</a></li>
                    </ul>
                    <p>BoosterDating - "Your life. Our Pleasure."</p>
                </div>
            </div>
        </div>
    </div>
</div>