<meta name="viewport" content="width=device-width" />
<title></title>
<div>
    <form id="CreateUser">

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        //Password
        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
        </div>
        //Confirm Password
        <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Confirm Password" aria-label="ConfirmPassword" aria-describedby="basic-addon1">
        </div>
        //First name
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="First Name" aria-label="FirstName" aria-describedby="basic-addon1">
        </div>
        //Last name
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Last Name" aria-label="LastName" aria-describedby="basic-addon1">
        </div>
        //Birthday
        <div class="input-group mb-3">
            <input type="date" class="form-control" placeholder="Birthday" aria-label="Birthday" aria-describedby="basic-addon1">
        </div>

        <div>
            <button type="submit">Create</button>
            <button>Cancel</button>
        </div>
    </form>

</div>

<script>
    $('#CreateUser').submit(function (e) {
        e.preventDefault();
        $.ajax({
            url: '/api/Login/CreateUser',
            type: 'post',
            data: $('#CreateUser').serialize(),
            success: function () {
                alert("Successfully created a new User!");
            }
        });
    });
</script>
